.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  color: #f8f7ff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background: linear-gradient(43deg, #313131 0%, #212121 46%, #313131 100%);
  position: relative;
}

.navigationItems {
  display: flex;
  gap: 25px;
}

.text {
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 8px;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
  max-width: 150px;
}

.headerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 45px;
  height: 45px;
}

.phoneBookText {
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px 12px;
  }

  .navigationItems {
    gap: 12px;
  }
}
