.iconBook {
  color: #9381ff;
  display: block;
  margin: 0 auto 5px auto;
  font-size: 80px;
}

.mainTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  /* margin-bottom: 20px; */
  background-color: #9381ff;
  color: #f8f7ff;
  height: 100px;
  border-radius: 8px 8px 0 0;
  animation: tracking-in-contract 6s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  /* box-shadow:  0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.cardBox {
  padding: 20px;
}

.boxShadow {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 0 0 8px 8px;
}

.boxBackground {
  background-color: #b8b8ff87;
}

.subtitleWrapper,
.centeredTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 320px;
  padding: 20px 20px 10px 20px;
}

.subtitleWrapper {
  justify-content: space-between;
}

.preTitle {
  font-size: 32px;
  color: #3a2a9b;
  text-transform: uppercase;
  margin: 0;
}

.undoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #3a2a9b;
  color: #f8f7ff;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
}

.undoButton:hover {
  background-color: #30208f;
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  .subtitleWrapper,
  .centeredTitleWrapper {
    position: relative;
    width: 250px;
    gap: 10px;
  }

  .preTitle {
    text-align: center;
    font-size: 24px;
  }

  .undoButton {
    position: absolute;
    right: 7px;
  }
}

@media screen and (min-width: 360px) and (max-width: 380px) {
  .subtitleWrapper,
  .centeredTitleWrapper {
    position: relative;
    width: 290px;
    gap: 10px;
  }

  .preTitle {
    text-align: center;
    font-size: 24px;
  }

  .undoButton {
    position: absolute;
    right: 6px;
  }
}

@media screen and (min-width: 380px) and (max-width: 768px) {
  .preTitle {
    text-align: center;
    font-size: 24px;
  }

  .undoButton {
    position: absolute;
    right: 12px;
  }
}

@media screen and (min-width: 1490px) {
  .subtitleWrapper,
  .centeredTitleWrapper {
    position: relative;
    width: 646px;
    gap: 10px;
  }
  .undoButton {
    position: absolute;
    right: 0;
  }
}

@media screen and (min-width: 300px) and (max-width: 460px) {
  .iconBook {
    font-size: 60px;
  }
}
