.authNavList {
  display: flex;
  align-items: center;
  gap: 25px;
}

li {
  text-align: center;
}

.link {
  text-transform: uppercase;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .authNavList {
    gap: 12px;
  }
}
