.contactsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px 30px;
  background-color: #b8b8ff87;
  padding: 10px 40px 40px 40px;
  border-radius: 0 0 8px 8px;
}

.contactsListCentered {
  justify-content: center;
}

.contactItem {
  min-width: 320px;
  max-width: 100%;
  max-height: 230px;
  height: 170px;
  border-radius: 16px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: #f8f7ff;
  padding: 20px 12px 20px 12px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  cursor: pointer;
  /* transform: translateZ(0); */
  will-change: transform;

}

.contactItem.flipped {
  transform: rotateY(180deg);
}

.messageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b8b8ff87;
  border-radius: 0 0 8px 8px;
}

.messageContentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px 18px 25px 18px;
  gap: 8px;
  background-color: #f8f7ff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  width: 300px;
  border-radius: 16px;
  margin-bottom: 35px;
  margin-top: 30px;
}

.messageInfo,
.messageWarning {
  text-align: center;
  color: red;
  width: 240px;
}

.messageIconInfo,
.messageIconWarning {
  color: red;
}

.letter {
  font-size: 22px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #171313, #080808);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.boxBackground {
  background-color: #b8b8ff87;
}

.subtitleWrapper,
.centeredTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 320px;
  padding: 20px 20px 10px 20px;
}

.subtitleWrapper {
  justify-content: space-between;
}

.preTitle {
  font-size: 32px;
  color: #3a2a9b;
  text-transform: uppercase;
  margin: 0;
  line-height: 0.9;
}

.titleList {
  position: absolute;
  right: 98px;
  font-size: 24px;
}

.subtitleWrapper .titleWithUndo {
  position: absolute;
  right: 156px;
}

.undoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #3a2a9b;
  color: #f8f7ff;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  position: absolute;
  top: 32px;
  right: 12px;
}

.undoButton:hover {
  background-color: #30208f;
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  .subtitleWrapper,
  .centeredTitleWrapper {
    position: relative;
    width: 250px;
    gap: 10px;
    padding: 20px 10px 10px 10px;
  }

  .preTitle {
    text-align: center;
    font-size: 24px;
  }

  .titleList {
    position: absolute;
    right: 75px;
    font-size: 18px;
  }

  .subtitleWrapper .titleWithUndo {
    position: absolute;
    right: 122px;
  }

  .undoButton {
    position: absolute;
    top: 27px;
    right: 7px;
  }
}

@media screen and (min-width: 360px) and (max-width: 380px) {
  .subtitleWrapper,
  .centeredTitleWrapper {
    position: relative;
    width: 290px;
    gap: 10px;
  }

  .preTitle {
    text-align: center;
    font-size: 28px;
  }

  .titleList {
    position: absolute;
    right: 92px;
    font-size: 22px;
  }

  .subtitleWrapper .titleWithUndo {
    position: absolute;
    right: 155px;
  }

  .undoButton {
    position: absolute;
    top: 28px;
    right: 6px;
  }
}

@media screen and (min-width: 380px) and (max-width: 768px) {
  .titleList {
    position: absolute;
    right: 106px;
    font-size: 22px;
  }

  .subtitleWrapper .titleWithUndo {
    position: absolute;
    right: 173px;
  }

  .preTitle {
    text-align: center;
    font-size: 28px;
  }

  .undoButton {
    position: absolute;
    top: 29px;
    right: 12px;
  }
}

@media screen and (min-width: 1490px) {
  .subtitleWrapper,
  .centeredTitleWrapper {
    position: relative;
    width: 646px;
    gap: 10px;
  }

  .titleList {
    position: absolute;
    right: 255px;
    font-size: 24px;
  }

  .subtitleWrapper .titleWithUndo {
    position: absolute;
    right: 470px;
  }

  .undoButton {
    position: absolute;
    top: 33px;
    right: 14px;
  }
}

@media screen and (min-width: 300px) and (max-width: 359px) {
  .contactsList {
    padding: 10px 10px 40px 10px;
    gap: 20px;
  }

  .contactItem {
    min-width: 260px;
    padding: 30px 8px 30px 8px;
  }

  .messageContentWrapper {
    width: 260px;
  }
}

@media screen and (min-width: 359px) and (max-width: 380px) {
  .contactItem {
    min-width: 300px;
    padding: 20px 12px 20px 12px;
  }
}

/* @media screen and (max-width: 600px) {
  .contactsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
} */

@media screen and (max-width: 790px) {
  .contactsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
  }
}
