.homePageWrapper {
  background: linear-gradient(
      214deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(64, 64, 68, 0.5) 35%,
      rgba(64, 64, 64, 0.6) 100%
    ),
    url("../../assets/images/iphone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.typeText {
  position: absolute;
  top: 35%;
  font-size: 18px;
  color: #ffffff;
  text-align: right;
  width: 100%;
  margin-right: 70%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1.25rem);
}

.title {
  position: absolute;
  top: 44%;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  max-width: 1000px;
  margin-left: 16px;
  margin-right: 16px;
}

.button {
  position: absolute;
  top: 75%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  --bg: #000;
  --hover-bg: #000;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  background: #212121;
  transition: 0.2s;
}

.button:hover {
  transform: translate(-0.25rem, -0.25rem);
  background: #313131;
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

@media screen and (max-width: 460px) {
  .typeText {
    margin-right: 50%;
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 38px;
  }
}
@media screen and (min-width: 800px) {
  .title {
    font-size: 64px;
  }
}
